$fontcolor: white; 
$background: black;

// @font-face {
//     font-family: "Avenir Regular";
//     src: url("../font/Avenir\ Regular.ttf") format("ttf"),
//   }



body{
    // background-image: url(../img/bg2.jpg);
    // background-size: cover;
    background-color: $background !important;
}

.partH{
    h1{
        font-weight: 900 !important;
    }
    
    p{
        font-size: 14px;
        color: $fontcolor;
        font-weight: 100;
        // font-family: Avenir Regular;
    }
    
    
    ul{
        margin: 0 !important;
        padding: 0 !important;
        li{
            list-style-type: none;
            color: $fontcolor;
            font-weight: 100;
            // font-family: Avenir Regular;
        }
    }
    
    // .bg{
    //     background-image: url('../img/bg2.jpg');
    //     background-size: cover;
    //     width: 100%;
    //     height: auto;
    // }
    .bigLine{
        position: absolute;
        border-radius: 18px;
        border-left: 1px solid $fontcolor;
        border-top: 1px solid $fontcolor;
        width: 1140px !important;
        height: 560px;
        top: 70px;
        left: 60px;
        z-index: -100;
        width: 40px;
    }
    .section2{
        margin-bottom: 40px;
        .mt-5{
            margin-top: 4rem !important;
        }
        h2{
            text-align: right;
            color: $fontcolor;
            margin-right: 22px;
            font-weight: 900;
        }
        p{
            font-size: 13px;
            font-weight: 100;
        }
        ul{
            li{
                text-align: right;
            }
        }
        h3{
            text-align: right;
            font-size: 22px !important;
            font-weight: 400;
            color: $fontcolor;
            text-transform: lowercase;
        }
        .lineSection3{
            position: absolute;
            width: 59%;
            height: 1px;
            justify-content: end;
            margin-top: -23px;
            background: $fontcolor;
        }
    }
    
    h3, h2, h1{
        color: $fontcolor !important;
        // font-family: Avenir Regular;
    }
    
    h2{
        text-transform: uppercase;
        font-size: 30px;
        text-align: right;
        font-weight: 900;
    }
    
    .section3{
        .lineSection3{
            position: absolute;
            width: 70%;
            height: 1px;
            margin-top: -43px;
            background: $fontcolor;
        }
        h2{
            font-weight: 900;
            margin-right: 22px;
        }
    }
    
    h3{
        font-size: 30px !important;
        text-transform: uppercase;
    }
    
    
    .text-right{
        text-align: right;
        margin-bottom: 20px;
    }
    .border-left{
        border-right: 1px solid $fontcolor;
        padding-right: 40px !important;
    }
    img{
        border-radius: 15px;
        filter: grayscale(1);
        margin-top: -10px;
        margin-left: 50px;
        height: 295px !important;
        width: 275px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    ul{
        
        li{
            text-align: right;
            h4{
                font-size: 14px !important;
                font-weight: 100;
                margin-bottom:  5px;
                text-align: right;
            }
            p{
                font-weight: 400;
                text-align: right;
                margin: 0;
            }
            .date{
                text-align: right !important;
                font-size: 14px !important;
            }
        }
    }
    
    .reseaux{
        ul{
            li{
                p{
                    text-align: left;
                }
            }
        }
    }
    .ml-5{
        margin-left: 2rem;
    }
    .contact{
        .box{
            margin-top: -60px;
        }
        display: contents;
        h3{
            font-weight: 900;
        }
    }
}